{% extends "base.html.twig" %}
{% block title %}Inicio{% endblock %}

{% block body %}
    {% if app.user %}
        <div class="row justify-content-center">
            <div class="col-3">
                <p>Holi {{ app.user.username }}, {{ app.user.descripcion }}</p>
                <a class="btn btn-info" href="{{ path("perfil_index") }}">Ver perfil</a>
                <a class="btn btn-warning" href="{{ path('app_logout') }}">Cerrar sesion</a>
            </div>
            <div class="col-3">
                <p>Que puedes hacer</p>
                <ul>
                    {% for rol in app.user.roles %}
                        {% if rol == "ROLE_USER" %}
                            <li>Añadir departamentos</li>
                            {% endif %}

                        {% if rol == "ROLE_ADMIN_CRUD" %}
                            <li>Editar departamentos</li>
                            {% endif %}

                        {% if rol == "ROLE_ADMIN" %}
                            <li>Borrar departamentos</li>
                            {% endif %}

                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-6">
                <a class="btn btn-primary" href="{{ path("departamentos_index") }}">Mantenimiento departamentos</a>
            </div>
        </div>
    {% endif %}
{% endblock %}